.DS_Store
node_modules
/dist
public/videos


# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Gamiw-logo/inspirations/1000_F_404102938_1weX0vFwUClYYAOKBvWSK66ijZinXnvO.jpeg
.gitignore
Gamiw-logo/inspirations/1000_F_453710348_nLk2JgPaSa9DLTDMpihHtn7YNwK71huQ.jpeg
