@import './_variables.scss';

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.btn {
  color: $color-primary;
  background-color: $color-white;
  font-family: 'PublicSans-SemiBold';
  font-size: $font-size-24;
  line-height: $line-height-24;
  padding: 0.9rem;
  border-radius: 4px;
  margin: 0.6rem;
  width: 100%;

  &--default {
    &:hover {
      background-color: $color-primary-light;
    }
  }

  &--highlight {
    color: $color-white;
    background-color: $color-reserve-5;

    &:hover {
      background-color: $color-highlight;
    }
  }

  &--reverse {
    color: $color-white;
    background-color: $color-primary-light;
  }
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

input,
textarea {
  border: none;
  text-decoration: none;
  background-color: transparent;

  &::placeholder {
    color: $color-white;
    opacity: 1;
  }

  &:focus-visible {
    outline: none;
  }
}
