@import './_variables.scss';
@import './_components.scss';

h1,
h2,
h3,
h4,
h5,
p,
span {
  color: $color-white;
}
h1 {
  font-size: 1.7rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}

p {
  font-size: 0.9rem;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::selection {
  background: $color-secondary;
}
