@import './_variables.scss';
@import './_components.scss';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

img {
	display: block;
	object-fit: cover;
	width: 100%;
}

button {
	cursor: pointer;
	background: transparent;
	border: none;
}

*::selection {
	background: $color-secondary;
}
