$color-primary: hsla(240, 90%, 27%, 1);
$color-primary-light: hsla(240, 90%, 27%, 0.3);
$color-secondary: hsl(155, 84%, 52%);
$color-tertiary: hsl(172, 91%, 54%);
$color-fourth: hsl(188, 73%, 51%);
$color-highlight: hsl(263, 100%, 79%);

$color-reserve-1: hsl(167, 36%, 46%);
$color-reserve-2: hsl(170, 100%, 16%);
$color-reserve-3: hsl(204, 91%, 54%);
$color-reserve-4: hsl(53, 85%, 47%);
$color-reserve-5: hsl(331, 71%, 56%);

$color-contrast-1: hsl(9, 71%, 56%);

$color-white: hsl(0, 0%, 96%);
$color-font: hsl(0, 0%, 47%);

$gradient-main: linear-gradient(to right, $color-reserve-3, $color-primary);

html,
body {
	font-size: 20px;
	font-family: Roboto, sans-serif;

	$font-size-12: 0.6rem;
	$font-size-13: 0.65rem;
	$font-size-14: 0.7rem;
	$font-size-15: 0.75rem;
	$font-size-16: 0.8rem;
	$font-size-17: 0.85rem;
	$font-size-18: 0.9rem;
	$font-size-20: 1rem;
	$font-size-24: 1.2rem;
	$font-size-48: 2.4rem;
	$font-size-72: 3.6rem;
	$letter-spacing-0: 0rem;
	$line-height-12: 0.6rem;
	$line-height-15: 0.7rem;
	$line-height-16: 0.8rem;
	$line-height-17: 0.85rem;
	$line-height-19: 0.95rem;
	$line-height-20: 1rem;
	$line-height-21: 1.05rem;
	$line-height-24: 1.2rem;
	$line-height-48: 2.4rem;
	$line-height-72: 3.6rem;
}
