$color-primary: #070781;
$color-secondary: #1eeb94;
$color-tertiary: #20f5d7;
$color-fourth: #28c6de;
$color-highlight: #bc92ff;

$color-reserve-1: #4a9f8d;
$color-reserve-2: #005244;
$color-reserve-3: #20a0f5;
$color-reserve-4: #dec712;
$color-reserve-5: #de3e8b;

$color-contrast-1: #de563e;

$color-white: #f5f5f5;
