$color-primary: hsla(240, 90%, 27%, 1);
$color-secondary: hsl(155, 84%, 52%);
$color-tertiary: hsl(172, 91%, 54%);
$color-fourth: hsl(188, 73%, 51%);
$color-highlight: hsl(263, 100%, 79%);

$color-reserve-1: hsl(167, 36%, 46%);
$color-reserve-2: hsl(170, 100%, 16%);
$color-reserve-3: hsl(204, 91%, 54%);
$color-reserve-4: hsl(53, 85%, 47%);
$color-reserve-5: hsl(331, 71%, 56%);

$color-contrast-1: hsl(9, 71%, 56%);

$color-white: hsl(0, 0%, 96%);

$gradient-main: linear-gradient(to right, $color-reserve-3, $color-primary);
